@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.logo{
    padding: 20px 20px;
}

.blue{
    color: blue;
}
.grenn{
    color: blue;
}
.red{
    color: RED;
}
.purple{
    color: purple;
}
.yellow{
    color: yellow;
}
.gray{
    color: gray;
}
.orange{
    color: orange;
}

.logo span{
    font-size: 2em;
    font-weight: bolder;
}

header menu{
    display: flex;
    padding: 20px 20px;
    justify-content: center;
    align-items: center;
    
}

header menu p{
    padding-left: 10px;
    border-right: 1px solid #000;
    padding-right: 10px;
}

.banner{
    margin: auto;
    background-color: aquamarine;
}

header img{
    width: 30px;
    height: 30px;
    padding-left: 200px;
}

header button{
    height: 35px;
    width: 60px;
    margin: 20px 20px;
    border-radius: 10px;
}